@import url("https://use.typekit.net/gmx6atg.css");



* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    font-feature-settings: 'onum'1;
    color: #333;
    //overflow: ;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'aktiv-grotesk', sans-serif;
    font-weight: 300;
    font-size: 1.125em;
    height: 100%;
    margin: 0;
    padding: 1em 0;
    line-height: 1.8;
    letter-spacing: normal;
    max-width: 95vw;
}



#first {
    background: url("http://placehold.it/300x300/0f0") no-repeat;
    height: 50px;
    width: 50px;
    opacity: 0.6;
    transition: 0.3s;
    z-index: 99;
}

#first:hover {
    background: url("http://placehold.it/300x300/f00") no-repeat;
    opacity: 1;
    transition: 0.3s;
}

/* a {}

a:link {}

a:visited {}

a:hover {}

a:active {} */


.conservatorylink,  .darkroomlink{
    width: auto;
    height: 10px;
    position: relative;
    display: inline-block;
    margin: 50px;
    padding: 20px;
}

.ConservIMG {
    background: url("../ICONS/DoorClosed.svg") no-repeat;
    height: 500px;
    width: 500px;
    opacity: 0.6;
    transition: 0.3s;
    z-index: 99;
}

.ConservIMG:hover {
    background: url("../ICONS/ICONDoorOpen.svg") no-repeat;
    opacity: 1;
    transition: 0.3s;
}

.DrkRoomIMG {
    background: url("../ICONS/BulbOFF.svg") no-repeat;
    height: 500px;
    width: 500px;
    opacity: 0.6;
    transition: 0.3s;
    z-index: 99;
}

.DrkRoomIMG:hover {
    background: url("../ICONS/ICONBulbON.svg") no-repeat;
    opacity: 1;
    transition: 0.3s;
}


.leftcolumn {
    display: block;
    text-justify: auto;
}

/*  .grid-container > * {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 1em;
  } */

#maintext {
    margin: auto;
    padding: 10%;
    box-sizing: border-box;
    width: 100%;
    margin-top: 25em;
}

#wrapped-maintext {
    /* grid-area: 2/1/span 5/span 1; */
    display: flex;
    position: relative;
    /* THIS DIV CAN BE MOVED AROUND THE PAGE LIKE ANY ABSOLUTE DIV */
    left: 70%;
    /* moving this div to the middle of the sceen */
    top: -600px;
    /* this nudged everything up */
    transform: translateX(-50%) scale(1);
    /* accomodates centering and scales everuthing down */
    transform-origin: 50% 0;
    /* where you transform from (middle top) */
    /*background:red; */
    // line-height: 1.8;
    // width: 100%;
    // height: 100%;
    // margin-left: 10%;
    //  margin-top: 20%;
    padding: 20%;
    z-index: 1;
}

.main-paragraphs {
    font-weight: 400;
    font-style: normal;
    max-width: 1000px;
    margin: auto;
    line-height: 1.5em;
}

p {
    //font-size: 81px;
    //font-size: 22.5px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-top: 0.5em;
    // margin-bottom: 0.005em;
}

#p-5 {
    font-size: 33.75px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-top: 2em;
    margin-bottom: 0em;
}

#p-6 {
    font-size: 22.5px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-top: 0em;
    margin-bottom: 2em;
}

.inlinequote {
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-top: 2em;
    margin-bottom: 0em;
}

/* 
.item1 {
    grid-area: 1 / 2 / span 3 / span 2;
  }
  start counting from the first line
  syntax is grid-row-start / grid-column-start / grid-row-end (down) / grid-column-end (across)
   */

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 1em;
}

/*   header,
  aside,
  article,
  footer {
    background: #eaeaea;
    padding: 1em;
  } */

/*   header, footer {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10vh;
  } */

/*   aside,
  article {
    background: #eaeaea;
    padding: 1em;
      grid-template-rows: repeat(4, 25vh);
  
  } */

.lrgeparagh {
    font-family: 'aktiv-grotesk', sans-serif;    font-weight: 400;
    font-size: 32px;
    display: grid;
    border: border-box;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-justify: inter-word;
}

p {
    //    margin-bottom: 0.5em;
    font-size: 2rem;
    padding: 20px;
}


/*  .hidden {
     transition: all 0.3s;
     opacity: 0;
 } */

/*  .header-section {
     padding: 30px;
     text-align: center;
     background-color: #474e5d0e;
     color: white;
 } */


.content {
    //    max-width: 500px;
    margin: 20 px;
    padding: 20px;
}

h2 {
    /* What */
    font-family: "bodoni-urw", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 76px;
    letter-spacing: 0.2em;
}

em {
    font-family: "bodoni-urw", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 0.02em;

}

.info-float-container1 {
    display: block;
    border: none;
    padding: 20px;
    height: 20px;
    margin: 40px;
    width: 100%;
    text-justify: left;

}

/* 
.float-child {
    width: 50%;
    flex: 1;
    padding-inline-start: 20px;
    border: 2px solid red;
}

.float-child:first-child {
    margin-right: 20px;
} */

#wrapped-title {
    /* grid-area: 2/1/span 5/span 1; */
    display: block;
    position: absolute;
    /* THIS DIV CAN BE MOVED AROUND THE PAGE LIKE ANY ABSOLUTE DIV */
    left: 2%;
    /* moving this div to the middle of the sceen */
    top: 20px;
    /* this nudged everything up */
    transform: translateX(-50%) scale(0.59);
    /* accomodates centering and scales everuthing down */
    transform-origin: 50% 0;
    /* where you transform from (middle top) */
    /*background:red; */
    // line-height: 1.8;
    // width: 100%;
    // height: 100%;
    // margin-left: 10%;
    //  margin-top: 20%;
    z-index: -1;
}

#firstwrd {
    position: absolute;
    top: 320px;
    left: 33px;
    font-variant-caps: normal;
}

.lrg-letter {
    font-family: "bodoni-urw", serif;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    padding: 40px;
}

#ltr-1 {
    /* V */
    font-size: 924px;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#ltr-2 {
    /* I */
    font-size: 943px;
    top: -10px;
    left: 380px;
    z-index: -1;
}

.box1 {
    top: 505px;
    left: 100px;
    width: 120px;
    height: 629px;
    background: whitesmoke;
    position: absolute;
    z-index: 1;
}

#ltr-3 {
    /* V */
    font-size: 450px;
    top: 901.42px;
    left: 540px;
}

#ltr-4 {
    /* I */
    font-size: 369px;
    top: 1016px;
    left: 730px;
}

#ltr-5 {
    /* A */
    font-size: 943px;
    top: 372px;
    left: 138px;
}

#ltr-6 {
    /* N */
    font-size: 729px;
    top: 1093px;
    left: 500px;
}

#ltr-7 {
    /* M */
    font-size: 729px;
    top: 1706px;
    left: 40px;
}

#ltr-8 {
    /* A */
    font-size: 943px;
    top: 1455px;
    left: 438px;
}

#ltr-9 {
    /* I */
    font-size: 369px;
    top: 1819px;
    left: 830px;
}

#ltr-10 {
    /* E */
    font-size: 585px;
    top: 2329px;
    left: 234px;
    z-index: 1;
}

.box2 {
    top: 352.9956px;
    left: 100px;
    width: 50px;
    height: 368px;
    /*   height: 390px;
    */
    background: whitesmoke;
    position: absolute;
    z-index: 2;
}

#ltr-11 {
    /* R */
    font-size: 810px;
    top: 2450px;
    left: 440px;
    z-index: 3;
}

#ltr-12 {
    /* S */
    font-size: 734px;
    top: 3111px;
    left: 162px;
    z-index: -1;
}

#ltr-13 {
    /* A */
    font-size: 429px;
    top: 3274px;
    left: 415px;
}

#ltr-14 {
    /* W */
    font-size: 389px;
    top: 3478px;
    left: 544px;
}

#ltr-15 {
    /* I */
    font-size: 1064px;
    top: 3538px;
    left: 132px;
}

#ltr-16 {
    /* N */
    font-size: 743px;
    top: 3788px;
    left: 346px;
}

#ltr-17 {
    /* C */
    font-size: 648px;
    top: 4537px;
    left: 20px;
}

#ltr-18 {
    /* O */
    font-size: 501px;
    top: 4909px;
    left: 168px;
}

#ltr-19 {
    /* L */
    font-size: 734px;
    top: 4750px;
    left: 510px;
}

#ltr-20 {
    /* O */
    font-size: 734px;
    top: 5150px;
    left: 300px;
}

#ltr-21 {
    /* R */
    font-size: 582px;
    top: 5610px;
    left: 674px;
}